<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>
  <connectionStrings>
    <add name="SubwayTalentConnection" connectionString="server=127.0.0.1;User Id=root;password=P@$$w0rd;database=SubwayTalent" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <paypal>
    <settings>
      <add name="mode" value="sandbox" />
      <add name="connectionTimeout" value="360000" />
      <add name="clientId" value="AWf0AIPI8u9mTAzVF9ecWDmOPmjGw7jezutZ5_HJZq65fGfsoifhwA5EYsBn3mA_3wNbMqAy50a8UH36" />
      <add name="clientSecret" value="EGitacjNmoGbD78H4THRj6gvTXos9Mh2Qlg4fAVjxho2AAiKCvFNn8qLlztulxF6Xz0R3vutFhxXhVvj" />
    </settings>
    <!--<accounts>
    
    </accounts>-->
  </paypal>
  <appSettings>
    <add key="IUserAccount" value="SubwayTalent.Data.UserAccountRepo, SubwayTalent.Data" />
    <add key="IEvent" value="SubwayTalent.Data.EventsRepo, SubwayTalent.Data" />
    <add key="ILookUpValues" value="SubwayTalent.Data.LookUpValuesRepo, SubwayTalent.Data" />
    <add key="ITokenRepo" value="SubwayTalent.Data.TokenRepo, SubwayTalent.Data" />
    <add key="ISettings" value="SubwayTalent.Data.SettingsRepo, SubwayTalent.Data" />
    <add key="IPaymentRepo" value="SubwayTalent.Data.PaymentRepo, SubwayTalent.Data" />
    <add key="ILogger" value="SubwayTalent.Logging.FileLogger, SubwayTalent.Logging" />
    <add key="CaptureTime" value="02:57" />

    <!-- Braintree configs-->
    <add key="Braintree.mode" value="sandbox" />
    <!-- sandbox, production-->
    <add key="Braintree.merchantId" value="djxxjtw3w4m4cy35" />
    <add key="Braintree.publicKey" value="tqsry3jfrdpz33d7" />
    <add key="Braintree.privateKey" value="23b39cd5ae212732f510cf31aa85ff77" />

    <add key="DBSchema" value="subwaytalent-dev" />
    <add key="paymentCreationInterval" value="300000" />
    <add key="paymentProcessInterval" value="60000" />
    <add key="paymentDebug" value="true" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
